<%= form_with(model: post, local: true) do |form| %>
  <div class="error-box">
    <% if post.errors.any? %>
      <div id="error_explanation" class="top-notice">
        <h2><%= pluralize(post.errors.count, "エラー！") %> 保存できていません。再トライしてください。</h2>
  
        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="form-group form-title">
    <%= form.label :title  %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
    <%= form.label :genre %>
    <%= form.select :genre, Post.genres_i18n.invert, {}, placeholder: 0  %>
  </div>

  <div class="form-group">
    <%= form.rich_text_area :content %>
  </div>

  <div class="form-group">
    <%= form.submit "投稿" , class: "btn btn-primary rounded-pill"%>
  </div>
<% end %>
