<p id="notice"><%= notice %></p>


<div class="show-contents">
  <div class="post-box">
    <div class="post-box__post-title"><h4><%= @post.title %></h2></div>
    <div class="post-box__post-id">ID：<%= @post.id %></div>
    <div class="post-box__post-name">投稿者：<%= @post.user.nickname %></div>
    <div class="post-box__post-name">投稿日時：<%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></div>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="post-box__post-name"><%= link_to '投稿削除', post_path(@post.id), method: :delete, data: { confirm: '本当にコメントを削除してもよろしいでしょうか?' } %></div>
    <% end %>  
    <div class="post-box__post-text"><%= @post.content %></div>
  </div>
  <div class="comment-box">
    <h2>コメント</h2>
    <div class="comment-box__comment-submit">
      <% if current_user %>
        <%= form_with(model: [@post, @comment], local: true) do |form| %>
          <div class="form-group">
            <%= form.text_area :text, placeholder: "ここにコメントを入力してください", rows: "5", class: "form-control" %>
          </div>
          <%= form.submit "SEND" , class: "btn btn-primary rounded-pill"%>
        <% end %>
      <% else %>
        <p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      <% end %>
    </div>
    <div class="comment-box__comment-posted">
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="comment-box__comment-posted__comment-each">
            <div class="comment-box__comment-posted__comment-each--name">名前：<%= comment.user.nickname %>
            <% if user_signed_in? && current_user.id == comment.user_id %>
              <%= link_to 'コメント削除', post_comment_path(comment), method: :delete, data: { confirm: '本当にコメントを削除してもよろしいでしょうか?' } %>
            <% end %>
            </div>
            <div class="comment-box__comment-posted__comment-each--date">投稿日時：<%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
            </div>
            <div class="comment-box__comment-posted__comment-each--text"><%= comment.text %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>