<!DOCTYPE html>
<html>
  <head>
    <title>KaigoBbs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="nav-box">
        <div class="nav-box__nav-left">
          <div class="nav-box__nav-left__nav-genre">
            <%= link_to root_path , class: 'navi-post', method: :get do %>
            <i class="fa fa-home fa-3x"></i>
            <% end %>
          </div>
          <div class="nav-box__nav-left__nav-genre">
            <%= link_to "介護お悩み掲示板", worrys_path , class: 'navi-post' %>
          </div>
          <div class="nav-box__nav-left__nav-genre">
            <%= link_to "転職・スキルアップ", '#', class: 'navi-post' %>
          </div>
          <div class="nav-box__nav-left__nav-genre">
            <%= link_to "技能実習生関連", '#', class: 'navi-post' %>
          </div>
        </div>

        <% if user_signed_in? %>
          <div class="nav-box__nav-right">
            <div class="nav-box__nav-right__nav-info">
              <%= link_to "新規投稿", new_post_path, class: 'right_side' %>
            </div>
            <div class="nav-box__nav-right__nav-info">
              <%= link_to "マイページ", "/users/#{current_user.id}", class: 'right_side' %>
            </div>
            <div class="nav-box__nav-right__nav-info">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'right_side' %>
            </div>
            <div class="nav-box__nav-right__nav-info">
              <%= link_to "お問い合わせ", '#', class: 'right_side' %>
            </div>
          </div>

        <% else %>
        <div class="nav-box__nav-right">
          <div class="nav-box__nav-right__nav-info">
            <%= link_to "新規登録", new_user_registration_path, class: 'right_side' %>
          </div>
          <div class="nav-box__nav-right__nav-info">
            <%= link_to "ログイン", new_user_session_path, class: 'right_side' %>
          </div>
          <div class="nav-box__nav-right__nav-info">
            <%= link_to "お問い合わせ", '#', class: 'right_side' %>
          </div>
          <div class="nav-box__nav-right__nav-info">
            <%= link_to "管理画面", "/admin", class: 'right_last' %>
          </div>
        </div>
        <% end %>
      </div>
    </header>
    
    <div class="main_contents">
      <%= yield %>
    </div>
  </body>
</html>